{:kotoba.app/id "cloud.itonami.isic-9420", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreifuz57j5gmv237g24wtw3pae5vmm5drt4uz3yqd57uzbnd7f5o2hy", :kotoba.app/embed-url "ipfs://bafkreifuz57j5gmv237g24wtw3pae5vmm5drt4uz3yqd57uzbnd7f5o2hy", :published {:archive "https://kotobase.net/ipfs/bafkreifuz57j5gmv237g24wtw3pae5vmm5drt4uz3yqd57uzbnd7f5o2hy", :size 74959, :put-status 201, :get-status 200, :at "2026-08-15T13:53:47.807Z"}}
